.booking-container {
    height: 44vh;
    width: 100%;
    margin-bottom: 50px;
    border-radius: 0 0 25px 25px;
    background-color: #292F38;
    align-items: center;
    text-align: center;
}

.booking-fillBox {
    width: 90%;
    height: 50px;
    margin-left: 10px;
    border: 2px solid #007AFF;
    background-color: #040C18;
    border-radius: 5px;
    padding: 0 1rem;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    outline: none;
    position: relative;
}

.booking-form {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 30px;
}

.booking-from-to {
    color: white;
    margin: 10px;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
    position: relative;
}

.book-button {
    width: 100px;
    height: 35px;
    border-radius: 30px;
    border: none;
    background: #007AFF;
    color: white;
    font-family: var(--font-family);
    font-weight: 800;
    transition: 0.5 ease-in-out;
    margin-top: 20px;
}
.book-button:hover {
    background-color: #040C18;
    transition: 0.5 ease-in-out;
    cursor: pointer;
}

.UBus__header-content__input {
    width: 300px;
    margin: 2rem 0 1rem;
}

.align_a {
    margin-bottom: 5px
}