.K7__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;
}

.K7__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.K7__navbar-links_logo {
   margin-right: 2rem; 
}

.K7__navbar-links_logo img {
    width: 50px; 
}

.K7__navbar-links_container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.K7__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.K7__navbar-links_container p,
.K7__navbar-sign p,
.K7__navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
    transition: 0.5s;
}

.K7__navbar-sign button,
.K7__navbar-menu_container button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #007AFF;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.K7__navbar-menu {
    margin-left: 1rem;

    display: none;
    position: relative;
}

.K7__navbar-menu svg {
    cursor: pointer;
}

.K7__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    
    margin-top: 1rem;
    min-width: 210px;
    border-width: 5px;
    box-shadow: 0 0 5 rgba(0,0,0,0.2);
}

.K7__navbar-menu_container p {
    margin: 1rem 0;
}

.K7__navbar-links_container p:hover {
    color: #007AFF;
}

.K7__navbar-menu_container-links-sign {
    display: none;
}

.ubus_logo {
    color: white;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 35px;
}

@media screen and (max-width: 1050px) {
    .K7__navbar-links_container {
        display: none;
    }

    .K7__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .K7__navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .K7__navbar {
        padding: 2rem;
    }

    .K7__navbar-sign {
        display: none;
    }

    .K7__navbar-menu_container {
        top: 20px;
    }

    .K7__navbar-menu_container-links-sign {
        display: block;
    }
}

.modal-content {
    width: 400px;
    background-color: #1a436e;
  }
  
  #username,
  #password {
    width: 100%;
    height: 50px;
    border: 2px solid #1a436e;
    background-color: #040c18;
    border-radius: 5px;
    padding: 0 1rem;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 1rem;
    outline: none;
  }
  
  #username:focus,
  #password:focus {
    border: 2px solid #007aff;
  }
  
  .modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .separator {
    margin-top: 10%;
    text-align: center;
  }
  
  .close-modal {
    position: absolute;
    top: 0; /* Adjust the top and right values as needed */
    right: 10px; /* Adjust the top and right values as needed */
    width: 50px;
    height: 50px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background: #007aff;
    border: 2px solid #007aff;
    padding: 0 1rem;
    color: #fff;
    cursor: pointer;
    outline: none;
    margin-top: 1rem;
    border-radius: 5px;
 }

 .close-modal:hover {
    background-color: #1a436e;
    border: 2px solid #1a436e;
}

 .signin-btn {
    width: 30%;
    height: 50px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    background: #007AFF;
    border: 2px solid #007AFF;
    padding: 0 1rem;
    color: #fff;
    cursor: pointer;
    outline: none;

    border-radius: 5px;
 }

.signin-btn:hover {
    background-color: #1a436e;
    border: 2px solid #1a436e;
}

 #extra-signin  {
   margin-bottom: 4%;
   text-align: left;
   font-size: 15px;
 }

 #extra-signin:hover {
   color: #007aff;
   cursor: pointer;
 }  

 .navbar-signup:hover {
    background-color: #1a436e;
    cursor: pointer;
 }
