/* CSS for Modal Window */

.booking-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .booking-modal-content {
    background-color: #292F38;
    border-radius: 35px;
    padding: 20px;
    width: 500px;
    height: 650px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  .booking-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .booking-modal-header h2 {
    font-size: 20px;
    margin: 0;
    color: white;
    margin-bottom: 30px;
  }
  
  .booking-close-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50px;
    transition: color 0.3s ease;
  }
  
  .booking-modal-body label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-weight: 400;
    color: white;
  }
  
  .booking-modal-body input[type="text"],
  .booking-modal-body input[type="number"],
  .booking-modal-body input[type="email"],
  .booking-modal-body input[type="time"],
  .booking-modal-body input[type="date"],
  .booking-modal-body input[type="tel"],
  .booking-modal-body select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ffffff;
    border-radius: 4px;
  }
  
  .booking-modal-body textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ffffff;
    border-radius: 4px;
  }
  
  .booking-modal-body button[type="submit"],
  .booking-modal-body button {
    background-color: #007AFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .booking-modal-body button[type="submit"]:hover,
  .booking-modal-body button:hover {
    background-color: #0db0d9;
  }
  
  #view-map {
    margin-bottom: 20px;
    font-size: 14px;
    transition: ease 0.5s;
  }

  #view-map:hover {
    cursor: pointer;
    color: #007AFF;
  }