#map { height: 180px; }

#Service-map {
    border-radius: 25px 25px 0 0;
}

.leaflet-container {
    height: 70vh;
    width: 100%;
}

@media screen and (max-width: 650px) {
    .K7__header h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .K7__header p {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .K7__header h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .K7__header p {
        font-size: 14px;
        line-height: 24px;
    }
}